<div>
  <%= form_with model: @plan, url: calendars_path, class: 'form' do |f| %>
    <%= f.label :日付を選択, class: 'Lavel' %>
    <%= f.date_field :date, class: 'Date-select' %>
    <%= f.label :予定を入力, class: 'Lavel' %>
    <%= f.text_field :plan, class: 'Text-input' %>
    <%= f.submit '保存' %>
  <% end %>
</div>

  <div class='Calendar'>
    <% @week_days.each do |day| %>

      <div class='Item'>
        <div class='Date'>
          <% day[:Month] %>/<% day[:Date] %>
          <ul class='Content'>
            <% if day[:Plans].length != 0 %>
            <% day[:Plans].each do |plan| %>
            <li class='Plan-list'>・<%= plan %></li>
           <% end %>
          <% end %>
          </ul>
        </div>
       <% end %>
      </div>
  </div>